<div style="width:1000px;height:181px">

   
            
    <embed width="1000" height="181" src="~/Images/Banner.swf" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash">
</div>