<div style="margin: 10px 0px 0px 0px;">
    <div class="title">TÌM KIẾM SẢN PHẨM</div>
    <div class="show" style="padding: 10px">
        @*<select name="ctl00$TimKiem1$ddl_Hang" id="TimKiem1_ddl_Hang" style="height:20px;width:200px;">
            <option value="0">-Hãng sản xuất-</option>
            <option value="1">Apple</option>
            <option value="2">Nokia</option>
            <option value="3">Samsung</option>
            <option value="4">Hãng khác</option>

        </select>
        <br>
        <br>
        <select name="ctl00$TimKiem1$ddl_GiaTu" id="TimKiem1_ddl_GiaTu" style="height:20px;width:200px;">
            <option value="0">-Giá từ-</option>
            <option value="1000000">1 triệu đ</option>
            <option value="3000000">3 triệu đ</option>
            <option value="5000000">5 triệu đ</option>
            <option value="10000000">10 triệu đ</option>

        </select>
        <br>
        <br>
        <select name="ctl00$TimKiem1$ddl_GiaDen" id="TimKiem1_ddl_GiaDen" style="height:20px;width:200px;">
            <option value="0">-Giá đến-</option>
            <option value="3000000">3 triệu đ</option>
            <option value="5000000">5 triệu đ</option>
            <option value="7000000">7 triệu đ</option>
            <option value="100000000">Trên 10 triệu đ</option>

        </select>
        <br>
        <br>
        <input type="image" name="ctl00$TimKiem1$img_TimKiem" id="TimKiem1_img_TimKiem" src="/Images/btn_search.gif">*@
        <form id="frm" method="post" action="/TimKiem/TimKiemCB">
            <input name="txtsearch" type="text" placeholder="Tìm sản phẩm ..." />
            <span id="timcanban" style="top:5px">
                <input name="sbmtimkiem" type="submit" value="Tìm" />
            </span>
        </form>
    </div>
</div>



<div style="margin: 10px 0px 0px 0px;">
    <div class="title">FACEBOOK</div>
    <div class="show" style="padding: 5px;">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/profile.php?id=100008347426125&amp;width=270&amp;height=210&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:270px; height:210px;" allowtransparency="true"></iframe>
    </div>
</div>

<div style="margin: 10px 0px 5px 0px;">
    <div class="title">HỖ TRỢ TRỰC TUYẾN</div>
    <div class="show" style="padding: 5px;">
        Quan sida<br>
        <a href="ymsgr:"><img border="0" src="~/Images/troll.jpg" title="Click vào để liên hệ trực tiếp với dịch vụ khách hàng"></a>
    </div>
    @*http://opi.yahoo.com/online?u=boy_motphongcach_audition_bmt&amp;m=g&amp;t=14"*@
</div>

<div style="margin: 10px 0px 5px 0px;">
    <div class="title">QUẢNG CÁO</div>
    <div class="show" style="padding: 5px;">
        <img src="~/Images/vinamilk.gif" />
</div>
</div>