
@{
    ViewBag.Title = "Hoàn tất";
    Layout = "~/Views/Shared/_LayoutPageIndex.cshtml";
}

<section id="dangky">
    <h1>Hoàn tất mua hàng</h1>
    <div class="dangky-inner">


        <h2>Cám ơn bạn đã mua hàng của chúng tôi.</h2>
       
        <h2>
            Chúng tôi sẽ liên hệ và giao hàng cho bạn trong thời gian ngắn nhất

        </h2>
        <h2>
            Xin cảm ơn !

        </h2>
        @Html.ActionLink("Trở về trang chủ", "Index", "Index")
    </div>
</section>
